 /* Chat containers */
 
 .mycontainer {
     border: 2px solid #dedede;
     background-color: #f1f1f1;
     border-radius: 5px;
     padding: 10px;
     margin: 10px 0;
     height: fit-content;
 }
 /* Darker chat container */
 
 .darker {
     border-color: #ccc;
     background-color: #ddd;
 }
 /* Clear floats */
 
 .mycontainer::after {
     content: "";
     clear: both;
     display: table;
 }
 /* Style images */
 
 .mycontainer img {
     float: left;
     max-width: 50px;
     max-height: 50px;
     width: 100%;
     margin-right: 20px;
     border-radius: 50%;
 }
 /* Style the right image */
 
 .mycontainer img.right {
     float: right;
     margin-left: 20px;
     margin-right: 0;
 }
 /* Style time text */
 
 .time-right {
     float: right;
     color: #aaa;
 }
 /* Style time text */
 
 .time-left {
     float: left;
     color: #999;
 }
 
 .scrollClass {
     height: 450px;
     overflow-y: scroll;
 }
 
 input.form-control,
 input.form-control:focus {
     background-color: white;
     color: black;
     border: 1px solid #636b7b;
 }
 
 input.form-control:focus {
     box-shadow: none;
 }
 /*background for blocks */
 
 .chats {
     background-color: rgb(152, 150, 165);
 }
 
 .messages {
     background-color: rgb(255, 255, 255);
 }