<div class="modal fade" id="listFollowers" tabindex="-1" role="dialog" aria-labelledby="listFollowersLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listFollowersLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group" id="filterAll">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" name="searchString" placeholder="Search..." [(ngModel)]="searchString" name="searchStr">
                    </div><br>
                    <div class="form-group">
                        <table class="table table-bordered tablesorter" id="tblFollowers">
                            <thead>
                                <tr class="success">
                                    <td>Username</td>
                                    <td>Link</td>
                                </tr>
                                <tr *ngFor="let user of usersFollowers | filterAll: searchString">
                                    <td>{{user}}</td>
                                    <td><input class="btn btn-success" type="button" value="Show profile" (click)="showUser(user)" /></td>
                                </tr>
                            </thead>
                            <tbody id="tblBody"></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" #closeBtnFollower class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listFollowing" tabindex="-1" role="dialog" aria-labelledby="listFollowingLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listFollowingLabel">Following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group" id="filterAll">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" name="searchString" placeholder="Search..." [(ngModel)]="searchString" name="searchStr">
                    </div><br>
                    <div class="form-group">
                        <table class="table table-bordered tablesorter" id="tblFollowing">
                            <thead>
                                <tr class="success">
                                    <td>Username</td>
                                    <td>Link</td>
                                </tr>
                                <tr *ngFor="let user of usersFollowing  | filterAll: searchString">
                                    <td>{{user}}</td>
                                    <td><input class="btn btn-success" type="button" value="Show profile" (click)="showUser(user)" /></td>
                                </tr>
                            </thead>
                            <tbody id="tblBody"></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" #closeBtnFollowing class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>