<app-navigation-panel></app-navigation-panel>

<section id="content" class="container">

    <div class="row">
        <div class="col-md-4">

            <form #imageForm=ngForm (ngSubmit)="OnSubmit(Image)">
                <div class="row">
                    <h3 class="py-2">User profile</h3>

                </div>
                <div>
                    <img [src]="imageUrl" class="py-2" style="width:300px;height:300px" alt="Place image title"><br>
                    <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target)">
                    <button type="submit" class="btn-large btn-submit" [disabled]="Image.value==''">Submit</button>
                </div>

            </form>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <app-show-post></app-show-post>


        </div>
    </div>
</section>